<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YildizPansiyon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="YildizPansiyonEntities" connectionString="metadata=res://*/YildizPansiyonModel.csdl|res://*/YildizPansiyonModel.ssdl|res://*/YildizPansiyonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YILDIZ;initial catalog=YildizPansiyon;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings><userSettings>
        <YildizPansiyon.Properties.Settings>
            <setting name="odaNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="odaID" serializeAs="String">
                <value>0</value>
            </setting>
        </YildizPansiyon.Properties.Settings>
    </userSettings>
</configuration>